.container-cupom {
    max-width: 97.5mm;
    position: relative;
    color: black;
}

.img-logo {
    position: relative;
    width: 100%;
    height: auto;
}

.div-info {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    height: auto;
}

.div-cnpj-e-ie {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

.div-dados-venda {
    position: relative;
    width: 100%;
    height: auto;
}

.div-data-e-nota {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.divisor {
    position: relative;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 1);
    height: auto;
}

.div-header {
    position: relative;
    width: 100%;
}

.div-produtos {
    position: relative;
    width: 100%;
}

.div-total {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-assinatura {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    height: auto;
}

.linha-assinatura {
    position: relative;
    margin-top: 10mm;
    border-top: 1px solid rgba(0, 0, 0, 1);
    height: auto;
}

.div-mensagem {
    position: relative;
    width: 100%;
    text-align: center;
    height: auto;
    margin-top: 5px;
}

.div-saidas {
    position: relative;
    width: 100%;
    text-align: center;
    height: auto;
}

#logo_cup_con{
    margin-top:10px; 
    width:100%;
}

#data_cup_con, #id_cup_con{
    font-size:1rem;
    margin-bottom:0;
}

#cli_cup_con{
    font-size:1rem;
}
#format_text{
    text-align:center;
}
#format_text_l{
    text-align:left;
}
#bottom{
    margin-bottom:0;
}

#ass_cliente{
    margin-bottom:22px; 
    font-size:14px;
}

.ass_cliente_pad{
    padding-right:24px;
    padding-left: 24px;
}

#ie_cup_con, #cnpj_cup_con{
    font-size:12px;
}

#endereco_cup_con, #tel_cup_con{
    font-size:14px;
}