body {
    font-size: 0.85rem;
  }
  .status {
    padding: 3px;
    color: #fff;
  }
  table.dataTable tbody th,
  table.dataTable tbody td {
    vertical-align: middle;
  }
  .zoom:hover {
    transform: scale(1.03);
  }
  .card-hover:hover {
    background: #eeefff;
  }
  .ui-autocomplete-input {
    z-index: 1511;
    position: relative;
  }
  .ui-menu .ui-menu-item a {
    font-size: 12px;
  }
  .ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1510 !important;
    float: left;
    display: none;
    list-style: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
  }
  .ui-menu-item>a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
  }
  .ui-state-hover,
  .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
  }
  table.dataTable {
    border-collapse: collapse !important;
  }
  .collapse-item {
    cursor: pointer;
  }
  .nav-item {
    cursor: pointer;
  }
  table.dataTable tbody tr {
    background-image: linear-gradient(180deg, #5a5c69 10%, #505155 100%);
  }
  label {
    color: white;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: white !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
  }
  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .selectize-control.single .selectize-input,
  .selectize-dropdown.single {
    height: auto;
  }
  .div-comentarios {
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    height: 100px;
    max-height: 100px;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #logo-seco{
    width: 70px;
    height:60px;
    display:none
  }
  #logo-horiz{
    width: 220px;
    height: 55px;
  }
  .addanotacao{
    width: 100%;
    text-align-last: end;
  }
  .att_sistema{
    align-self: center;
  }
  .div_att{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  #spinner{
    margin-left: 47%;
    margin-top: 20%;
    margin-bottom: 20%;
  }



