
  html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  #areaclient, #register{
    color: black;
    position: relative;
    top: 70px;
  }
  #register{
    top: 40px;
  }
  .line1, .line{
    position: relative;
    top: 60px;
    border-top: 1px solid black;
    width: 51%;
    left: 80px;
  }
  .line{
    top: 40px;
  }
  .user_card, .register_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #334A5C;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    border-radius: 5px;
  }
  .register_card{
    height: 450px;
  }
  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
  }
  .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .form_container {
    margin-top: 70px;
  }
  .formRegister_container {
    margin-top: 40px;
  }
  .login_btn, .register_btn{
    width: 100%;
    background: rgb(40, 65, 112) !important;
  }
  .login_btn:focus, .register_btn {
    box-shadow: inset;
    outline: 5px;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: rgb(40, 65, 112);
    color: white;
    border: 0;
    border-radius: 1em 0 0 1em !important;
  }
  .input_user{
    box-shadow: none;
    outline: 0px;
    border: 0;
    border-radius: 0 1em 1em 0;
  }
  .input_pass{
    border: 0;
    border-radius: 0 1em 1em 0;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(40, 65, 112);
  }

  #InputName, #InputEmail, #InputSalary, #InputPassword, #ConfirmPassword{
    height: 40px;
    width: 250px;
    border: 0;
    border-radius: 1em 1em 1em 1em;
  }