#div-img-emp-1 {
    position: relative;
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 11rem;
    max-height: 11rem;
}

#show-img-emp-1 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

#div-img-emp-2 {
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 11rem;
    max-height: 11rem;
}

#show-img-emp-2 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

#div-img-emp-3 {
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 11rem;
    max-height: 11rem;
}

#show-img-emp-3 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

#div-img-emp-4 {
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 11rem;
    max-height: 11rem;
}

#show-img-emp-4 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#img_emp_1, #img_emp_2, #img_emp_3{
    display:none;
}

#falseimput_emp_1, #falseimput_emp_2, #falseimput_emp_3{
    cursor:pointer;
    font-size:1rem; 
    display:flex;
    align-items:center;
    justify-content:center;
    border-color:#6e707e;
    border-radius: 0.35rem 0.35rem 0 0;
}

#selected_filename_emp_1, #selected_filename_emp_2, #selected_filename_emp_3{
    color:white;
    cursor:pointer;
    margin: 0;
}

.alert-success{
    margin:0;
    border-radius: 0.3rem;
}


.img-thumbnail{
    width: 150px; 
    border-radius: 150px;
    margin-right: 20px;
}
.dis_flex{
    display: flex;
}
.sty_form{
    align-self: center;
}
.btn-success{
    float: left;
}