.onoff input.toggle {
    display: none;
}

.onoff input.toggle+label {
    display: inline-block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    height: 20px;
    width: 40px;
    border-radius: 30px;
}

.onoff input.toggle+label:before {
    content: "";
    display: block;
    height: 20px;
    width: 40px;
    border-radius: 30px;
    background: rgba(19, 191, 17, 0);
    transition: 0.1s ease-in-out;
}

.onoff input.toggle+label:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
    left: 0px;
    border-radius: 30px;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.1s ease-in-out;
}

.onoff input.toggle:checked+label:before {
    width: 40px;
    background: #13bf11;
}

.onoff input.toggle:checked+label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}

.xx {
    float: right;
    background: #ccc;
    border-radius: 200px;
    width: 14px;
    height: 13px;
    color: white;
    text-align: center;
    font-size: 10px;
}

.xx:hover {
    background: #777;
    cursor: pointer
}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 10px;
    border: 1px solid #ccc;
    outline-style: none;
}

.btn-add{
    float: right;
    margin-left: 10px;
}

.btn-cad{
    float: right;
}

.alert-success, .alert-danger{
    margin:0;
    border-radius: 0.3rem;
}