#btn-voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #858796;
    border-radius: 0;
    padding-top: 8px;
    cursor: pointer;
}

#div-content {
    border-radius: 1rem;
    position: relative;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
}

#div-img {
    position: relative;
    border-color: #444444;
    border: 1px solid;
    border-radius: 0.35rem 0.35rem;
    height: 10rem;
    max-height: 10rem;
}

#show-img {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0.35rem 0.35rem;
}

.accordion {
    max-height: 300px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #626471;
    ;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(55 56 65);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(30 30 33);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.readonly {
    background: #bbd3ff;
    pointer-events: none;
    touch-action: none;
}

#valorTotalVenda {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-excluir {
    padding: 0 !important;
    padding-top: 3px !important;
}

.close:hover {
    color: #c10000 !important;
}

.card-body {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-header-title {
    font-size: 1.0rem;
    font-weight: 800;
}

/* CARD GREEN */
.card-green {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    border: 2px solid #169b6b;
    background-image: linear-gradient(180deg, #1cc88a 10%, #169b6b 100%);
}

.card-green:hover {
    cursor: pointer;
    border: 2px solid #3fff82;
    transition: 100ms;
}

.card-green:hover .card-body {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-header-green:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-green {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #595b68;
    border-bottom: 2px solid #1cc88a;
    background-image: linear-gradient(180deg, #1cc88a 10%, #169b6b 100%) !important;
}

.card-green:hover .card-header-title {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

/* CARD GREY */
.card-grey {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    background-image: linear-gradient(180deg, #5a5858 10%, #323238 100%);
    border: 2px solid #5a5858;
}

.card-grey:hover {
    cursor: pointer;
    border: 2px solid #afafaf;
    transition: 100ms;
}

.card-grey:hover .card-body {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-header-grey:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-grey {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #595b68;
    background-image: linear-gradient(180deg, #5a5858 10%, #323238 100%);
    border-bottom: 2px solid #323238;
}

.card-grey:hover .card-header-title {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

/* CARD WHITE BLUE */
.card-wblue {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    background-image: linear-gradient(180deg, #98a5ff 10%, #5e68bf 100%);
    border: 2px solid #5e68bf;
}

.card-wblue:hover {
    cursor: pointer;
    transition: 100ms;
    border: 2px solid #273cff;
}

.card-wblue:hover .card-body {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-header-wblue:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-wblue {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #595b68;
    background-image: linear-gradient(180deg, #98a5ff 10%, #5e68bf 100%);
    border-bottom: 2px solid #98a5ff;
}

.card-wblue:hover .card-header-title {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

/* CARD WHITE PINK */
.card-wpink {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    background-image: linear-gradient(180deg, #ff92e8 10%, #f77bff9c 100%);
    border: 2px solid #f77bff9c;
}

.card-wpink:hover {
    cursor: pointer;
    transition: 100ms;
    border: 2px solid #ff3eff;
}

.card-wpink:hover .card-body {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-header-wpink:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-wpink {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #595b68;
    background-image: linear-gradient(180deg, #ff92e8 10%, #f77bff9c 100%);
    border-bottom: 2px solid #ff92e8;
}

.card-wpink:hover .card-header-title {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

/* CARD WHITE PINK */
.card-yellow {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    background-image: linear-gradient(180deg, #ffe18f 10%, #ffc543e0 100%);
    border: 2px solid #ffc543e0;
}

.card-yellow:hover {
    cursor: pointer;
    transition: 100ms;
    border: 2px solid #fff12b;
}

.card-yellow:hover .card-body {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-header-yellow:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-yellow {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #595b68;
    background-image: linear-gradient(180deg, #ffe18f 10%, #ffc543e0 100%);
    border-bottom: 2px solid #ffe18f;
}

.card-yellow:hover .card-header-title {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

/* CARD WHITE PINK */
.card-salmon {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    background-image: linear-gradient(180deg, #f7c8c3 10%, #ffa89e 100%);
    border: 2px solid #ffa89e;
}

.card-salmon:hover {
    cursor: pointer;
    transition: 100ms;
    border: 2px solid #ff7b47;
}

.card-salmon:hover .card-body {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-header-salmon:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-salmon {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #595b68;
    background-image: linear-gradient(180deg, #f7c8c3 10%, #ffa89e 100%);
    border-bottom: 2px solid #f7c8c3;
}

.card-salmon:hover .card-header-title {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

/* CARD WHITE PINK */
.card-yellow {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    background-image: linear-gradient(180deg, #ffe18f 10%, #ffc543e0 100%);
}

.card-yellow:hover {
    cursor: pointer;
}

.card-yellow:hover .card-body {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-header-yellow:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-yellow {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #595b68;
    background-image: linear-gradient(180deg, #ffe18f 10%, #ffc543e0 100%);
}

.card-yellow:hover .card-header-title {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-orange:hover .card-header-title {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

/* CARD BLUE */
.card-blue {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    background-image: linear-gradient(180deg, #a3e1ff 10%, #1f90c5 100%);
    border: 2px solid #1f90c5;
}

.card-blue:hover {
    cursor: pointer;
    transition: 100ms;
    border: 2px solid #3cf2ff;
}

.card-blue:hover .card-body {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-header-blue:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-blue {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #595b68;
    background-image: linear-gradient(180deg, #a3e1ff 10%, #1f90c5 100%);
    border-bottom: 2px solid #a3e1ff;
}

.card-blue:hover .card-header-title {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

/* CARD ORANGE */
.card-orange {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    background-image: linear-gradient(180deg, #ffbe91 10%, #ff901d 100%);
    border: 2px solid #ff901d;
}

.card-orange:hover {
    cursor: pointer;
    transition: 100ms;
    border: 2px solid #ff692d;
}

.card-orange:hover .card-body {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-header-orange:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-orange {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #595b68;
    background-image: linear-gradient(180deg, #ffbe91 10%, #ff901d 100%);
    border-bottom: 2px solid #ffbe91;
}

/* CARD RED */
.card-red {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    border: 2px solid #9b1616;
    background-image: linear-gradient(180deg, #c81c1c 10%, #9b1616 100%);
}

.card-red:hover {
    cursor: pointer;
    border: 2px solid #ff3f3f;
    transition: 100ms;
}

.card-red:hover .card-body {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}

.card-header-red:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-red {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #595b68;
    border-bottom: 2px solid #c81c1c;
    background-image: linear-gradient(180deg, #c81c1c 10%, #9b1616 100%) !important;
}

.card-red:hover .card-header-title {
    transition: 50ms;
    cursor: pointer;
    transform: scale(1.05);
}



.dist {
    margin-top: 10px;
}

.block-pay {
    margin-bottom: 1.1%;
    background-color: #0c0c0c;
    border-radius: 0.35rem;
    padding: 5px 0px;
    margin-left: 0.25%;
    margin-right: 0.25%;
    width: 99.5%;
    color: white;
}

.icon-pay {
    display: flex;
    align-items: center;
    justify-content: start;
}

.icon-pay-del {
    display: flex;
    align-items: center;
    justify-content: end;
}

.icon-pay-del i:hover {
    transition: 200ms;
    color: rgb(184, 12, 12);
    cursor: pointer;
}

.text-pay {
    display: flex;
    align-items: center;
    justify-content: start;
}

.input-pay {
    background-color: #3c3c3c;
    color: #4e73df;
    border: 1px solid #444444;
}

.card-values-pay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.35rem;
    background-color: #0c0c0c;
    margin: .5%;
    height: 4rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.content-card {
    border-radius: 1rem;
    background-color: #2d2d2d;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    height: 7rem;
    max-height: 7rem;
}

.div-content-title {
    position: relative;
    max-height: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    font-size: 2rem;
}

#logo-horiz{
    width: 220px;
    height: 55px; 
    margin-right:20%;
}

.btn-abcx{
    cursor:pointer; 
    height:50%; 
    display:flex; 
    flex-direction:row; 
    align-items:center;
}

.btn-add{
    width:60%; 
    font-size:1.5rem; 
    display:flex; 
    align-items:center; 
    justify-content:center;
}

.navbar-nav{
    display:flex;
    align-items:center;
}

.col-style{
    display:flex; 
    justify-content:center;
}

.fa-cart-plus{
    font-size:1.3rem;
    margin-right: 5px;
}

.col-height{
    max-height:100px;
}

#valorTotalVenda{
    font-size:1.5rem;
}

.btn-danger, .btn-formapagamento{
    width: 100%;
    font-size:1.5rem;
}

.modal-style{
    background-color: #29292e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

#div-content{
    margin-top:1rem !important;
    margin-bottom:1rem !important;
}

.modal-header-style{
    border-bottom: 1px solid #444444;
}

.font-weight-bold{
    color:#d8d8d8;
}

.close-style{
    text-shadow: 0 1px 0 #f00;
}

.form-padding{
    padding-bottom:10px;
}


.div-max-height-width{
    max-height: 9rem;
    width:9rem;
}

.card-header-green, .card-header-wblue, 
.card-header-yellow, .card-header-wpink, 
.card-header-salmon, .card-header-clue, 
.card-header-orange, .card-header-grey, .card-header-red{
    display:flex;
    justify-content: center;
}

.fas-fontsize{
    font-size:5rem;
}

.card-wblue, .card-wpink, 
.card-yellow, .card-salmon, 
.card-blue, .card-orange, 
.card-grey, .div-max-height {
    max-height: 12rem;
}

.btn-float{
    float: right;
}

.btn-float-width{
    float: right;
    width: 20%;
}

.margin-label{
    margin: 0;
}

.card-values-red{
    border: 1px solid #f00;
    color:#f00;
}

.card-values-grey{
    border:1px solid #9b9b9b;
    color: #9b9b9b;
}

.card-values-green{
    border:1px solid #1cc88a; 
    color: #1cc88a;
}

.card-values-yellow{
    border:1px solid #fff12b; 
    color: #fff12b;
}

#pag_pdv{
    height: 36px;
}

.div-col-style{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.img-style{
    margin:0 15%;
    width: 70%;
    height: 70%;
}

.card-padding{
    padding:10px;
}

.fa-plus-circle, .fa-minus-circle{
    font-size:3.5rem;
}

.card-red{
    max-height: 9rem;
    width:9rem;
}

#saldo_caixa_atual{
    color:#169b6b; 
    font-size:1.5rem;
}
