#div-content {
    position: relative;
    color: white;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    padding: 2%;
    height: 100%;
    min-height: 10rem;
    width: 50%;
}

.input-pay {
    background-color: #3c3c3c;
    color: #4e73df;
    border: 1px solid #444444;
}

.bg-gradient-dark{
    display:flex;
    justify-content:center;
    align-items:center; 
    font-size:2rem;
}

.col{
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center;
}

#img{
    margin:0 10%;
    width: 80%;
    height: 80%;
}

.modal-bg{
    background-color: #29292e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.alert-success, .alert-danger{
    margin:0;
    border-radius: 0.3rem;
}

.modal-border{
    border-bottom: 1px solid #444444;
}

#exampleModalLabel, #modal-color{
    color:#d8d8d8;
}

.close-text{
    text-shadow: 0 1px 0 #f00;
}

.btn-success{
    float: right;
    width:20%;
}