.onoff input.toggle {
    display: none;
}

.onoff input.toggle+label {
    display: inline-block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    height: 20px;
    width: 40px;
    border-radius: 30px;
}

.onoff input.toggle+label:before {
    content: "";
    display: block;
    height: 20px;
    width: 40px;
    border-radius: 30px;
    background: rgba(19, 191, 17, 0);
    transition: 0.1s ease-in-out;
}

.onoff input.toggle+label:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
    left: 0px;
    border-radius: 30px;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.1s ease-in-out;
}

.onoff input.toggle:checked+label:before {
    width: 40px;
    background: #13bf11;
}

.onoff input.toggle:checked+label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}

.xx {
    float: right;
    background: #ccc;
    border-radius: 200px;
    width: 14px;
    height: 13px;
    color: white;
    text-align: center;
    font-size: 10px;
}

.xx:hover {
    background: #777;
    cursor: pointer
}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 10px;
    border: 1px solid #ccc;
    outline-style: none;
}

select[readonly] {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}

#div-img-1 {
    position: relative;
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 7rem;
    max-height: 7rem;
}

#show-img-1 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

#div-img-2 {
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 7rem;
    max-height: 7rem;
}

#show-img-2 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

#div-img-3 {
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 7rem;
    max-height: 7rem;
}

#show-img-3 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

#div-img-4 {
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 7rem;
    max-height: 7rem;
}

#show-img-4 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

#div-img-edit-1 {
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 7rem;
    max-height: 7rem;
}

#show-img-edit-1 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

#div-img-edit-2 {
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 7rem;
    max-height: 7rem;
}

#show-img-edit-2 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

#div-img-edit-3 {
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 7rem;
    max-height: 7rem;
}

#show-img-edit-3 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

#div-img-edit-4 {
    border-color: #6e707e;
    border: 1px solid;
    border-radius: 0 0 0.35rem 0.35rem;
    height: 7rem;
    max-height: 7rem;
}

#show-img-edit-4 {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0.35rem 0.35rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#subcat-prod {
    margin-top: 1px;
    display: block;
    width: 100%;
    height: auto;
    padding: 0.4rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
}
.btn-add{
    float: right;
    margin-left: 10px;
}
.btn-cad{
    float: right;
}
.btn-alt{
    float: right;
    margin: 20px;
}
.btn-warning{
    float: right;
    margin-right: 10px;
}
.cat-prod{
    color:grey;
    margin-left:3px;
}
#falseinput_1, #falseinput_2, #falseinput_3, #falseinput_4, 
#falseinput_1_edit, #falseinput_2_edit, #falseinput_3_edit, #falseinput_4_edit{
    cursor:pointer;
    font-size:1rem; 
    display:flex;
    align-items:center;
    justify-content:center;
    border-color:#6e707e;
    border-radius: 0.35rem 0.35rem 0 0;
}
#selected_filename_1, #selected_filename_2, #selected_filename_3, #selected_filename_4, 
#selected_filename_1_edit, #selected_filename_2_edit, #selected_filename_3_edit, #selected_filename_4_edit{
    color:white;
    cursor:pointer;margin: 0;
}
#img_prod_1, #img_prod_2, #img_prod_3, #img_prod_4, 
#img_prod_1_edit, #img_prod_2_edit, #img_prod_3_edit, #img_prod_4_edit{
    display: none;
}
.cat-prod-edit, .subcat-prod-edit{
    color:grey;
    margin-left:3px;
}
.alert-success, .alert-danger{
    margin:0;
    border-radius: 0.3rem;
}