<head>
	<link rel="stylesheet" href="/web/css/categoria.css">
</head>
		<div class="container-fluid">
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h4 class="m-0 font-weight-bold text-primary">Categorias
						<button class="btn btn-success btn-add"
							onclick="addCategoria()">Adicionar</button>
					</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Nome</th>
									<th width="3%">Editar</th>
									<th width="3%">Excluir</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Nome</th>
									<th width="3%">Editar</th>
									<th width="3%">Excluir</th>
								</tr>
							</tfoot>
							<tbody id="conteudo-categorias">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		
		</div>
		
		<div class="modal fade" id="AddCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Cadastro de Categorias</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-row">
								<div class="col-8">
									<input type="text" name="titulo" id="nome_cat" placeholder="Nome da categoria"
										class="form-control">
								</div>
								<div class="col-8">
									<input type="text" name="descricao" id="descricao_cat" placeholder="Descrição"
										class="form-control">
								</div>
								<div class="col-4">
									<input id="img_cat" type="file" name="imagem"
										onchange="mostrarimg(this,0)" />
									<div id="falseinput" class="btn btn-primary">
										<label id="selected_filename">Imagem</label>
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="col-8"></div>
								<div class="col-4">
									<div id="div-img" class="hide">
										<img id="show-img" />
									</div>
								</div>
							</div>
		
							<div class="margin"></div>
							<button class="btn btn-success btn-cad" type="button" onclick="cadastrar_categoria()"
							>Cadastrar</button>
							<button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="EditCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Editar Categoria</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<input type="hidden" name="id_cat_edit" id="id_cat_edit">
							<div class="form-row">
								<div class="col-8">
									<input type="text" name="nome_cat_edit" id="nome_cat_edit" placeholder="Nome da categoria"
										class="form-control">
								</div>
								<div class="col-8">
									<input type="text" name="descricao_cat_edit" id="descricao_cat_edit" placeholder="Descrição"
										class="form-control">
								</div>
								<div class="col-4">
									<input id="img_cat_edit" type="file" name="img_cat_edit"
										onchange="mostrarimg(this,1)" />
									<div id="falseinput_edit" class="btn btn-primary">
										<label id="selected_filename_edit">Imagem</label>
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="col-8"></div>
								<div class="col-4">
									<div id="div-img-edit" class="show">
										<img id="show-img-edit" />
									</div>
								</div>
							</div>
		
							<div class="margin"></div>
							<button class="btn btn-success" type="button" onclick="editar_categoria()"
							>Alterar</button>
							<button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="DelCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Tem certeza que deseja excluir?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<button class="btn btn-danger" type="button" onclick="excluir_categoria(document.getElementById(id))"
						>Excluir</button>
						<button class="btn btn-success" type="button" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="confirmacaoCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Cadastrado com sucesso</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="negacaoCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Erro ao cadastrar</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirmacaoEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Alterado com sucesso</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirmacaoExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Excluido com sucesso</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
		</div>

	<script src="/web/js/categoria.js"></script>