	<head>
		<link rel="stylesheet" type="text/css" href="/web/css/marca.css">
	</head>
			<div class="container-fluid">
				<!-- DataTales Example -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h4 class="m-0 font-weight-bold text-primary">Marcas
							<button class="btn btn-success"
							onclick="addMarca()">Adicionar</button>
						</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th>Nome</th>
										<th width="5%">Editar</th>
										<th width="5%">Excluir</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Nome</th>
										<th width="5%">Editar</th>
										<th width="5%">Excluir</th>
									</tr>
								</tfoot>
								<tbody id="conteudo-marcas">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade" id="AddMar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Cadastro de Marcas</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-row">
									<div class="col-8">
										<input type="text" name="nome_mar" id="nome_mar" placeholder="Nome da marca"
										class="form-control">
									</div>
									<div class="col-8">
										<input type="text" name="descricao_mar" id="descricao_mar" placeholder="Descrição da marca"
										class="form-control">
									</div>
									<div class="col-4">
										<input id="img_mar" type="file" name="img_mar"
										onchange="mostrarimg(this,0)" />
										<div id="falseinput" class="btn btn-primary btn-selectedfile">
											<label id="selected_filename">Imagem</label>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="col-8"></div>
									<div class="col-4">
										<div id="div-img" class="hide">
											<img id="show-img" />
										</div>
									</div>
								</div>
								
								<div class="margin"></div>
								<button class="btn btn-success" type="button" onclick="cadastrar_marca()">Cadastrar</button>
								<button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade" id="EditMar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Editar Marca</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<input type="hidden" name="id_mar_edit" id="id_mar_edit">
								<div class="form-row">
									<div class="col-8">
										<input type="text" name="nome_mar_edit" id="nome_mar_edit" placeholder="Nome da marca"
										class="form-control">
									</div>
									<div class="col-8">
										<input type="text" name="descricao_mar_edit" id="descricao_mar_edit" placeholder="Descrição da marca"
										class="form-control">
									</div>
									<div class="col-4">
										<input id="img_mar_edit" type="file" name="img_mar_edit"
										onchange="mostrarimg(this,1)" />
										<div id="falseinput_edit" class="btn btn-primary btn-selectedfile">
											<label id="selected_filename_edit">Imagem</label>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="col-8"></div>
									<div class="col-4">
										<div id="div-img-edit" class="show">
											<img id="show-img-edit" />
										</div>
									</div>
								</div>
								
								<div class="margin"></div>
								<button class="btn btn-success" type="button" onclick="editar_marca()">Alterar</button>
								<button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="DelMar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Tem certeza que deseja excluir?</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<button class="btn btn-danger" type="button" onclick="excluir_categoria(document.getElementById(id))"
							>Excluir</button>
							<button class="btn btn-success" type="button" data-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="modal fade" id="confirmacaoCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Cadastrado com sucesso</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="negacaoCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header alert-danger">
					<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Erro ao cadastrar</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
		</div>
		</div>
		<div class="modal fade" id="confirmacaoEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header alert-success">
					<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Alterado com sucesso</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
		</div>
		</div>

		<div class="modal fade" id="confirmacaoExcluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Excluido com sucesso</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<script src="/web/js/marca.js"></script>